@using PagedList;
@using PagedList.Mvc;

@model PagedList.IPagedList<BookStore.Entity.Books>

    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => Model[0].title)
            </th>
            <th>
                @Html.DisplayNameFor(model => Model[0].price)
            </th>
            <th>
                @Html.DisplayNameFor(model => Model[0].page_count)
            </th>
            <th>
                @Html.DisplayNameFor(model => Model[0].book_description)
            </th>
            <th>
                @Html.DisplayNameFor(model => Model[0].picture)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.page_count)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.book_description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.picture)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.id }) |
                    @Html.ActionLink("Details", "Details", new { id = item.id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.id })
                </td>
            </tr>
        }

    </table>
    @Html.PagedListPager(Model, page => Url.Action("Index", new { page }))
</div>


