@model BookStore.Entity.Books

@{
    ViewBag.Title = "Details";
}


<div>
    <h4>@Html.DisplayFor(model => model.title)</h4>
    <hr />
    <div class="list_item">
        <a href="/product/show/9990">
            <span class="list_item_image"><img alt="" src="~/Upload/@Model.picture"></span>
            <span class="list_item_info">

                <span class="text_common container">
                  
                    <span class="book-price">@Html.DisplayFor(model => model.price) €</span>
                </span>
            </span>
        </a>
    </div> 
    <div style="display:inline-block;">
    <dl class="dl-horizontal">
        <dt>
          
        </dt>

        <dd>
          
        </dd>

 

        <dt>
           Pages
        </dt>

        <dd>
            @Html.DisplayFor(model => model.page_count)
        </dd>

        <dt>
            Description
        </dt>

        <dd>
            @Html.DisplayFor(model => model.book_description)
        </dd>

       

    </dl>
 </div>

<div class="clear" >
    <div class="container">
        <h2>Authors</h2>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Firstname</th>
                    <th>Lastname</th>
                    <th>Birth Date</th>
                    <th>Countrie</th>
                </tr>
            </thead>

            <tbody>
                @foreach (var autor in Model.Authors)
                {
                    <tr>
                        <td>@autor.first_name</td>
                        <td>@autor.last_name</td>
                        <td>@autor.birth_date</td>
                        <td>@autor.Countries.name</td>
                    </tr>
                }
            </tbody>
        </table>
        </div>
        <p>
            @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
            @Html.ActionLink("Back to List", "Index")
        </p>
    </div>
</div>