@using PagedList;
@using PagedList.Mvc;

@model PagedList.IPagedList<BookStore.Entity.Books>
@{
    ViewBag.Title = "Index";
}
<div id="BooksList">
    <h2>Index</h2>

    <p>
        @Html.ActionLink("Create New", "Create")
        @if (@ViewBag.pageType == "image")
        {
            @Html.ActionLink("Table Demo", "Index", new { pageType = "table" })
        }
        else 
        {
            @Html.ActionLink("Image Demo", "Index", new { pageType = "image" })
        }
    </p>
    <div class="container">
        <div class="row">
            
            <div id="custom-search-input">
                <div class="input-group col-md-12">
                    <input type="text" id="SearchString" class="search-query form-control" placeholder="Search" />
                    <span class="input-group-btn">
                        <button id="serchBtn" class="btn " type="button">
                            <span class=" glyphicon glyphicon-search"></span>
                        </button>
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div id="bookList">
        @if (@ViewBag.pageType == "image")
        {
           // @Html.Partial("_BookList", Model);
          @Html.Partial("_ImageList", Model);
        }else{
          @Html.Partial("_BookList", Model);

        }

    </div>
@section scripts
{
            <script type="text/javascript">

        function search() {
                    $.ajax({
                        url: "/Books/Index?searchString=" + $('#SearchString').val(),
                        success: function(result) {
                           // ChangeUrl("index", "/Books/Index?searchString=" + $('#SearchString').val());
                            $('#bookList').html(result);
                        }
                    });
                }
        $("#serchBtn").on( "click",function () {
            alert("hasa");
                        search();
        });




    </script>
        }
 